
.whatsapp-container {
  position: sticky;
  top: 100px;
}
@media screen and (max-width: 991px) {
  .whatsapp-container {
    top: 0;
  }
}
.whatsapp-preview {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0 !important;
}

@media screen and (max-width: 991px) {
  .whatsapp-preview  {
    position: relative;
  }
}

.radio_button {
    float: left;
    margin: 0 5px 5px 0;
    min-width: 100px;
    height: 40px;
    position: relative;
    border-radius: 7px;
    border: 1px solid #ccc;
    padding: 10px 20px;
    cursor: pointer;
    background-color: transparent;
    transition: background-color 0.3s, color 0.3s;
    width: 150px;
}

.radio_button label,
.radio_button input {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.radio_button input[type="radio"] {
    opacity: 0.011;
    z-index: 100;
    cursor: pointer;
}

.radio_button input[type="radio"]:checked+label {
    background-color: #354ABF;
    color: white;
}

.radio_button:hover label {
    background-color: #e0e0e0;
}

.radio_button label {
    cursor: pointer;
    z-index: 90;
    line-height: 18px;
}

input.header_file {
    padding-left: 11px !important;
    height: 38px !important;
    line-height: 25px;
}

div#_footer_text {
    color: rgba(0, 0, 0, .45);
    font-size: 12px;
}

.message-footer {
    border-top: 1px solid #dadde1;
    padding: 5px;
}

.c-card .card-body {
    padding: 10px !important;
}

button.remove-card {
    padding: 7px 15px;
}

.c-card .card-header {
    padding: 10px 10px;
}

.marvel-device .screen {
    text-align: left;
  }
  
  .screen-container {
    height: 100%;
  }
    /* Status Bar */
    .status-bar {
    height: 25px;
    background: #004e45;
    color: #fff;
    font-size: 14px;
    padding: 0 8px;
  }
  
  .status-bar:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .status-bar div {
    float: right;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 0 0 8px;
    font-weight: 600;
  }
    /* Chat */
    .chat {
    height: calc(100% - 69px);
    height: 100%;
    overflow-x: hidden;
    width: 100%;
  }

  /* User Bar */
  
  .user-bar {
    height: 55px;
    background: #005e54;
    color: #fff;
    padding: 0 8px;
    font-size: 24px;
    position: relative;
    z-index: 1;
  }
  
  .user-bar:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .user-bar div {
    float: left;
    transform: translateY(-50%);
    position: relative;
    top: 50%;
  }
  
  .user-bar .actions {
    float: right;
    margin: 0 0 0 20px;
  }
  
  .user-bar .actions.more {
    margin: 0 12px 0 32px;
  }
  
  .user-bar .actions.attachment {
    margin: 0 0 0 30px;
  }
  
  .user-bar .actions.attachment i {
    display: block;
    transform: rotate(-45deg);
  }
  
  .user-bar .avatar {
    margin: 0 0 0 5px;
    width: 36px;
    height: 36px;
  }
  
  .user-bar .avatar img {
    border-radius: 50%;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
    display: block;
    width: 100%;
  }
  
  .user-bar .name {
    font-size: 17px;
    font-weight: 600;
    text-overflow: ellipsis;
    letter-spacing: 0.3px;
    margin: 0 0 0 8px;
    overflow: hidden;
    white-space: nowrap;
    width: 110px;
  }
  
  .user-bar .status {
    display: block;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0;
  }
    /* Conversation */
    .conversation {
    height: calc(100% - 12px);
    position: relative;
    background: #efe7dd url("https://cloud.githubusercontent.com/assets/398893/15136779/4e765036-1639-11e6-9201-67e728e86f39.jpg") repeat;
    z-index: 0;
  }
  
  .conversation ::-webkit-scrollbar {
    transition: all .5s;
    width: 5px;
    height: 1px;
    z-index: 10;
  }
  
  .conversation ::-webkit-scrollbar-track {
    background: transparent;
  }
  
  .conversation ::-webkit-scrollbar-thumb {
    background: #b3ada7;
  }
  
  .conversation .conversation-container {
    max-height: 525px;
    box-shadow: inset 0 10px 10px -10px #000000;
    padding: 0 16px;
    margin-bottom: 5px;
    overflow: auto;
  }
  
  .conversation .conversation-container:after {
    content: "";
    display: table;
    clear: both;
  }
    /* Messages */
  
  .message {
    color: #000;
    clear: both;
    line-height: 18px;
    font-size: 15px;
    padding: 8px;
    position: relative;
    margin: 8px 0;
    word-wrap: break-word;
    z-index: -1;
  }
  
  .message:after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
  }
  
  .metadata {
    display: inline-block;
    float: right;
    padding: 0 0 0 7px;
    position: relative;
    bottom: -4px;
  }
  
  .metadata .time {
    color: rgba(0, 0, 0, .45);
    font-size: 11px;
    display: inline-block;
  }
  
  .metadata .tick {
    display: inline-block;
    margin-left: 2px;
    position: relative;
    top: 4px;
    height: 16px;
    width: 16px;
  }
  
  .metadata .tick svg {
    position: absolute;
    transition: .5s ease-in-out;
  }
  
  .metadata .tick svg:first-child {
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-transform: perspective(800px) rotateY(180deg);
            transform: perspective(800px) rotateY(180deg);
  }
  
  .metadata .tick svg:last-child {
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-transform: perspective(800px) rotateY(0deg);
            transform: perspective(800px) rotateY(0deg);
  }
  
  .metadata .tick-animation svg:first-child {
    -webkit-transform: perspective(800px) rotateY(0);
            transform: perspective(800px) rotateY(0);
  }
  
  .metadata .tick-animation svg:last-child {
    -webkit-transform: perspective(800px) rotateY(-179.9deg);
            transform: perspective(800px) rotateY(-179.9deg);
  }
  
  .message:first-child {
    margin: 16px 0 8px;
  }
  
  .message.received {
    background: #fff;
    border-radius: 0px 5px 5px 5px;
    float: left;
  }
  
  .message.received .metadata {
    padding: 0 0 0 16px;
  }
  
  .message.received:after {
    border-width: 0px 10px 10px 0;
    border-color: transparent #fff transparent transparent;
    top: 0;
    left: -10px;
  }
  
  .message.sent {
    background: #e1ffc7;
    border-radius: 5px 0px 5px 5px;
    float: right;
  }
  
  .message.sent:after {
    border-width: 0px 0 10px 10px;
    border-color: transparent transparent transparent #e1ffc7;
    top: 0;
    right: -10px;
  }
  
  /* Compose */
  
  .conversation-compose {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    overflow: hidden;
    height: 50px;
    width: 100%;
    z-index: 2;
  }
  
  .conversation-compose div,
  .conversation-compose input {
    background: #fff;
    height: 100%;
  }
  
  .conversation-compose .emoji {
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    border-radius: 5px 0 0 5px;
    flex: 0 0 auto;
    margin-left: 8px;
    width: 48px;
  }
  
  .conversation-compose .input-msg {
    border: 0;
    flex: 1 1 auto;
    font-size: 16px;
    margin: 0;
    outline: none;
    min-width: 50px;
  }
  
  .conversation-compose .photo {
    flex: 0 0 auto;
    border-radius: 0 0 5px 0;
    text-align: center;
    position: relative;
    width: 48px;
  }
  
  .conversation-compose .photo:after {
    border-width: 0px 0 10px 10px;
    border-color: transparent transparent transparent #fff;
    border-style: solid;
    position: absolute;
    width: 0;
    height: 0;
    content: "";
    top: 0;
    right: -10px;
  }
  
  .conversation-compose .photo i {
    display: block;
    color: #7d8488;
    font-size: 24px;
    transform: translate(-50%, -50%);
    position: relative;
    top: 50%;
    left: 50%;
  }
  
  .conversation-compose .send {
    background: transparent;
    border: 0;
    cursor: pointer;
    flex: 0 0 auto;
    margin-left: 8px;
    margin-right: 8px;
    padding: 0;
    position: relative;
    outline: none;
  }
  
  .conversation-compose .send .circle {
    background: #008a7c;
    border-radius: 50%;
    color: #fff;
    position: relative;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .conversation-compose .send .circle i {
    font-size: 24px;
    margin-left: 5px;
  }
  
  /* Small Screens */
  
  @media (max-width: 768px) {
    .marvel-device.nexus5 {
      border-radius: 0;
      flex: none;
      padding: 0;
      max-width: none;
      overflow: hidden;
      height: 100%;
      width: 100%;
    }
  
    .marvel-device > .screen .chat {
      visibility: visible;
    }
  
    .marvel-device {
      visibility: hidden;
    }
  
    .marvel-device .status-bar {
      display: none;
    }
  
    .screen-container {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  
    .conversation {
      height: calc(100vh - 55px);
    }
    .conversation .conversation-container {
      height: calc(100vh - 120px);
    }
  }
  .btn-template {
    border-top: 1px solid #dadde1;
    color: #00a5f4;
    font-size: 14px;
    height: 44px;
    line-height: 20px;
    text-align: center;
}

ol {
  list-style-type: decimal;
  margin-left: 20px;
}
code {
  background-color: #f4f4f4;
  padding: 2px 4px;
  border-radius: 4px;
}
strong {
  color: #333;
}

li.font-14 {
  font-size: 14px!important;
}
.read-more-btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
}
.text-container {
  max-width: 300px;
  margin: 0 auto;
  padding: 20px;
  overflow: hidden;
  transition: max-height 0.3s ease;
}
.expanded {
  max-height: none;
}
.readonly {
  opacity: 0.5;
  pointer-events: none;
}

textarea.form-control {
  resize: auto!important;
}

div#message-header audio {
  width: 100%;
}

div#message-header img,
div#message-header video,
div#message-header video {
  width: 100%;
  height: auto;
}

span.add-btn-notice {
  font-size: 11px;
  padding: 0px;
}
span.add-btn-label {
  padding-left: 15px;
  font-weight: 500;
}

a.dropdown-item.btn-item {
  padding: .2rem 1rem;
  line-height: 20px;
  margin-top: 5px;
}

.type_of_action {
  margin-left: 30px;
}

.bar-icon {
  position: absolute;
  vertical-align: middle;
  top: 50%;
}

@media (max-width: 1199px) {
  .type_of_action {
    margin-left: 0;
  }
  
  div#append-button .bar-icon {
    display: none !important;
  }
}

.message.received {
  width: 100%;
}

/* Campain create  */
#load-template .accordion {
  margin-top: 0;
}

#load-template .accordion-button {
  padding: 20px;
}

#load-template .accordion-item:first-of-type {
  border-radius: 10px;
}

#load-template .accordion-body {
  padding: 15px;
}

#load-template .whatsapp-preview {
  position: initial;
}
#load-template .whatsapp-preview .message.received {
  width: 100%;
  color: #556068;
}

#load-template .v-section-title {
  margin-bottom: 15px;
}

#load-template .screen-container {
  position: initial;
}

#load-template .conversation,
#load-template .conversation .conversation-container {
  height: initial;
}

#load-template .whatsapp-preview .message.received .message-header img,
#load-template .whatsapp-preview .message.received .message-header video {
  border-radius: 8px;
}
#load-template .whatsapp-preview .message.received .message-body p {
  color: #858b90;
  font-size: 14px;
} 

#load-template .whatsapp-preview .message.received .message-body p b {
  font-weight: 500;
  color: #6b6b6b;
}

#load-template .whatsapp-preview .message.received .message-footer {
  padding: 5px 0;
  border-top: 1px solid #e9e9e9;
}

#load-template .whatsapp-preview .message.received .message-footer #_footer_text {
  color: #b2b1b1;
  font-size: 13px;
}
#load-template .whatsapp-preview .message.received .btn {
  padding: 8px 0 0;
  height: auto;
}


#whatsapp-template-form .dropdown .btn {
  position: relative;
  padding-right: 35px;
  padding-top: 6px;
  padding-bottom: 6px;
}

#whatsapp-template-form .dropdown .dropdown-toggle::after {
  color: #fff;
  inset-inline-end: 10px;
  font-size: 13px;
}
/* Template Create Card Body Css  */

div#sample-body {
  margin-bottom: 20px;
}

#sample-body .c-card .card-header {
  color: #4d4d4d;
}

#sample-body .c-card .card-header span {
  color: #7e7f92;
}

#sample-body .c-card .card-body label {
  margin-bottom: 5px;
  color: #4d4d4d;
}
#sample-body .c-card .card-body .form-control {
  margin-bottom: 15px;
}